* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #959595;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.map:hover {
    background-color: #c5c8ca5a;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

table {
    justify-content: left;
    text-align: left;
    border-color: black;
    display: grid;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: #f2f2f2;
}

td {
    padding: 15px;
}

#search {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    font-size: 16px;
    padding: 12px 20px 12px 12px;
    border: 1px solid #ddd;
}

.item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}